<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <title>{{title}}</title>
</head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/static/img/alt.svg" alt="" width="110" height="110" class="d-inline-block align-text-top">
      this is TRAP!!!.com
    </a>
  </div>
          {% if current_user.is_authenticated %}
    <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
{% else %}
    <p>
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </p>
{% endif %}
</nav>
        <head>
  <meta charset="utf-8">
  <title>aside</title>
  <script>
   document.createElement('aside');
   document.createElement('article');
  </script>
  <style>
   aside {
    background: #f0f0f0;
    padding: 10px;
    width: 200px;
    float: right;
   }
   article {
    margin-right: 240px;
    display: block;
   }
  </style>
    </head>
 <body>
  <aside>
   <a class="navbar-brand" href="/">Общая ветка</a>
   <a class="navbar-brand" href="/book">Книги   </a>
   <a class="navbar-brand" href="/film">Фильмы   </a>
   <a class="navbar-brand" href="/game">Игры   </a>

   <a class="navbar-brand" href="/map">Случайное место </a>
  </aside>
 </body>
        <h4>i am the storm that is approaching</h4>

    </header>
    <!-- Begin page content -->
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
  </body>
</html>